- content_for :title, t("generic_files.show.page_title")

%p
  %strong= t('generic_files.show.category') + ":"
  = @generic_file.category

%p
  %strong= t('generic_files.show.name') + ":"
  = @generic_file.name

%p
  %strong= t('generic_files.show.file_type') + ":"
  = @generic_file.file_type

%p
  %strong= t('generic_files.show.file_size') + ":"
  = number_to_human_size(@generic_file.file_size)


= render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @parent, :child => @generic_file }