- content_for :title, t("voicemail_settings.show.page_title")

%p
  %strong= t('voicemail_settings.show.voicemail_id') + ":"
  = @voicemail_setting.voicemail
%p
  %strong= t('voicemail_settings.show.name') + ":"
  = @voicemail_setting.name
%p
  %strong= t('voicemail_settings.show.value') + ":"
  = @voicemail_setting.value
%p
  %strong= t('voicemail_settings.show.class_type') + ":"
  = @voicemail_setting.class_type
%p
  %strong= t('voicemail_settings.show.description') + ":"
  = @voicemail_setting.description

= render :partial => 'shared/show_edit_destroy_part', :locals => {:parent => @voicemail_setting.voicemail_account, :child => @voicemail_setting}