%script{:type => "text/javascript"}
  :plain
    call_forwarding_function_name = "#{I18n.t('softkeys.functions.call_forwarding')}"
    hold_function_name = "#{I18n.t('softkeys.functions.hold')}"
    deactivated_function_name = "#{I18n.t('softkeys.functions.deactivated')}"

.inputs
  = f.input :softkey_function_id, :as => :select, :collection => @softkey_functions.map {|x| [I18n.t("softkeys.functions.#{x}"), x.id] }, :label => t('softkeys.form.function.label'), :hint => conditional_hint('softkeys.form.function.hint'), :include_blank => false
  - if @available_call_forwards && @available_call_forwards.count > 0
    = f.association :softkeyable, :collection => @available_call_forwards, :label => t('softkeys.form.call_forward.label'), :hint => conditional_hint('softkeys.form.call_forward.hint'), :include_blank => false 
  = f.input :number, :label => t('softkeys.form.number.label'), :hint => conditional_hint('softkeys.form.number.hint')
  = f.input :label, :label => t('softkeys.form.label.label'), :hint => conditional_hint('softkeys.form.label.hint')
