- cache(['gs_parameter_sub_table', I18n.locale, gs_parameters.count, gs_parameters.reorder(:updated_at).first, gs_parameters.reorder(:updated_at).last]) do
  %thead
    %tr
      %th
        %span.hidden-phone
          = t('gs_parameters.index.entity')
      %th= t('gs_parameters.index.name')
      - if !@sections
        %th= t('gs_parameters.index.section')
      %th= t('gs_parameters.index.value')

  %tbody
    - for gs_parameter in gs_parameters
      - cache(['gs_parameters_table_single_row', I18n.locale, gs_parameter]) do 
        %tr
          %td
            - if gs_parameter.entity.blank?
              %span.hidden-phone
                = '-'
            - else
              %span.hidden-phone
                = truncate(gs_parameter.entity, :length => GsParameter.get('DESKTOP_MAX_STRING_LENGTH'))       
          %td
            %span.hidden-phone
              = truncate(gs_parameter.name, :length => GsParameter.get('DESKTOP_MAX_STRING_LENGTH'))
            %span.visible-phone
              = truncate(gs_parameter.name, :length => GsParameter.get('MOBILE_MAX_STRING_LENGTH'))
          - if !@sections
            %td= gs_parameter.section
          %td
            %span.hidden-phone
              = truncate(gs_parameter.value, :length => GsParameter.get('DESKTOP_MAX_STRING_LENGTH'))
            %span.visible-phone
              = truncate(gs_parameter.value, :length => GsParameter.get('MOBILE_MAX_STRING_LENGTH'))           
          =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:child => gs_parameter}