- content_for :title, t("gs_parameters.show.page_title")

- cache(@gs_parameter) do 
  %table.table.table-striped
    %tbody
      %tr
        %td
          %strong= t('gs_parameters.show.name') + ":"
        %td
          = @gs_parameter.name
      %tr
        %td
          %strong= t('gs_parameters.show.section') + ":"
        %td
          = @gs_parameter.section
      %tr
        %td
          %strong= t('gs_parameters.show.value') + ":"
        %td
          = @gs_parameter.value
      %tr
        %td
          %strong= t('gs_parameters.show.class_type') + ":"
        %td
          = @gs_parameter.class_type
      %tr
        %td
          %strong= t('gs_parameters.show.description') + ":"
        %td
          = @gs_parameter.description

  = render :partial => 'shared/show_edit_destroy_part', :locals => { :child => @gs_parameter }