- cache(['tenant_show_admin_area', I18n.locale, @tenant, UserGroup.count, UserGroup.order(:updated_at).last, User.count, User.order(:updated_at).last, Manufacturer.all]) do
  %p
    You belong to the 
    = link_to 'admin group', tenant_user_group_path(@tenant, @tenant.user_groups.find_by_name('Admins'))
    and therefore have super powers. But always remember Peter Parker's: "With great power comes great responsibility."

  %p
    = succeed '.' do
      This tenant has 
      = link_to pluralize(@tenant.user_groups.count, 'user group'), tenant_user_groups_path(@tenant)
      - if @tenant.user_groups.count < 5
        = "(#{@tenant.user_groups.order(:name).map{|group| group.to_s }.join(', ')})"
      which handle a total of 
      = link_to pluralize(@tenant.users.count, 'user'), tenant_users_path(@tenant)
    This system can setup 
    = PhoneModel.count
    different phone models from the manufacturers 
    - Manufacturer.all.each do |manufacturer|
      - if manufacturer != Manufacturer.last && manufacturer != Manufacturer.limit(Manufacturer.count - 1).last
        = succeed ', ' do
          =link_to manufacturer, manufacturer_path(manufacturer)
      - elsif manufacturer == Manufacturer.limit(Manufacturer.count - 1).last
        = succeed ' and ' do
          =link_to manufacturer, manufacturer_path(manufacturer)
      - else
        = succeed '.' do
          =link_to manufacturer, manufacturer_path(manufacturer)

%h2 Admin Area
= render :partial => 'tenants/sip_accounts_and_phones', :locals => {:tenant => @tenant}

- if @tenant.user_groups.any?
  %h2 Groups
  = render "user_groups/index_core", :user_groups => @tenant.user_groups

%h2 Features
= render :partial => 'tenants/table_of_functions', :locals => {:tenant => @tenant}

%h2 Gemeinschaft Configuration
= render :partial => 'tenants/gs_parameter_table', :locals => {:tenant => @tenant}

%h2=t("phone_books.index.page_title")
= render :partial => 'tenants/table_of_phone_books', :locals => {:tenant => @tenant}