- cache(['tenant_show_admin_area', I18n.locale, @tenant, UserGroup.count, UserGroup.order(:updated_at).last, User.count, User.order(:updated_at).last, Manufacturer.all]) do
  %p
    Sie sind Mitglied der  
    = link_to 'Admin Gruppe', tenant_user_group_path(@tenant, @tenant.user_groups.find_by_name('Admins'))
    und haben deshalb besondere Rechte. Aber wie Peter Parker schon sagte: "With great power comes great responsibility."

  %p
    = @tenant
    hat  
    = link_to pluralize(@tenant.user_groups.count, 'user group'), tenant_user_groups_path(@tenant)
    - if @tenant.user_groups.count < 5
      = "(#{@tenant.user_groups.order(:name).map{|group| group.to_s }.join(', ')})"
    die in Summe 
    = link_to pluralize(@tenant.users.count, 'user'), tenant_users_path(@tenant)
    verwalten.
    Das System kann  
    = PhoneModel.count
    verschiedene Telefonmodelle von den folgenden Herstellern verwalten:  
    - Manufacturer.all.each do |manufacturer|
      - if manufacturer != Manufacturer.last && manufacturer != Manufacturer.limit(Manufacturer.count - 1).last
        = succeed ', ' do
          =link_to manufacturer, manufacturer_path(manufacturer)
      - elsif manufacturer == Manufacturer.limit(Manufacturer.count - 1).last
        = succeed ' und ' do
          =link_to manufacturer, manufacturer_path(manufacturer)
      - else
        = succeed '.' do
          =link_to manufacturer, manufacturer_path(manufacturer)

%h2 Admin Bereich
= render :partial => 'tenants/sip_accounts_and_phones', :locals => {:tenant => @tenant}

%h2= t("users.index.page_title")
- if @tenant.users.count <= GsParameter.get('NUMBER_OF_SHOWN_ITEMS')
  = render "users/index_core", :users => @tenant.users
  = render :partial => 'shared/create_link', :locals => {:parent => @tenant, :child_class => User}
- else
  %p
    = link_to "Liste aller User.", tenant_users_path(@tenant)

- if @tenant.user_groups.any?
  %h2= t("user_groups.index.page_title")
  = render "user_groups/index_core", :user_groups => @tenant.user_groups
  = render :partial => 'shared/create_link', :locals => {:parent => @tenant, :child_class => UserGroup}

%h2 Features
= render :partial => 'tenants/table_of_functions', :locals => {:tenant => @tenant}

%h2=t("phone_books.index.page_title")
= render :partial => 'tenants/table_of_phone_books', :locals => {:tenant => @tenant}

%h2 Gemeinschaft Konfiguration
= render :partial => 'tenants/gs_parameter_table', :locals => {:tenant => @tenant}