= render :partial => 'tenants/sip_accounts_and_phones', :locals => {:tenant => @tenant}

= render :partial => 'users_table', :locals => {:tenant => @tenant}

= render :partial => 'user_groups_table', :locals => {:tenant => @tenant}

%h2 Features
= render :partial => 'tenants/table_of_functions', :locals => {:tenant => @tenant}

= render :partial => 'tenants/table_of_phone_books', :locals => {:tenant => @tenant}

%h2 Gemeinschaft Konfiguration
= render :partial => 'tenants/gs_parameter_table', :locals => {:tenant => @tenant}

%p
  Das System kann  
  = PhoneModel.count
  verschiedene Telefonmodelle von den folgenden Herstellern verwalten:  
  - Manufacturer.all.each do |manufacturer|
    - if manufacturer != Manufacturer.last && manufacturer != Manufacturer.limit(Manufacturer.count - 1).last
      = succeed ', ' do
        =link_to manufacturer, manufacturer_path(manufacturer)
    - elsif manufacturer == Manufacturer.limit(Manufacturer.count - 1).last
      = succeed ' und ' do
        =link_to manufacturer, manufacturer_path(manufacturer)
    - else
      = succeed '.' do
        =link_to manufacturer, manufacturer_path(manufacturer)