
.row
  .span12
    = render :partial => 'tenants/table_of_sip_accounts', :locals => {:tenant => tenant}
    - if SipAccount.any?
      = render :partial => 'tenants/table_of_phones', :locals => {:tenant => tenant}

    - if SipAccount.any? || Gateway.any?
      = render :partial => 'tenants/table_of_conferences', :locals => {:tenant => tenant}
      = render :partial => 'tenants/table_of_callthroughs', :locals => {:tenant => tenant}
      = render :partial => 'tenants/table_of_hunt_groups', :locals => {:tenant => tenant}
      = render :partial => 'tenants/table_of_automatic_call_distributors', :locals => {:tenant => tenant}

    = render :partial => 'tenants/users_table', :locals => {:tenant => tenant}
    = render :partial => 'tenants/user_groups_table', :locals => {:tenant => tenant}

    = render :partial => 'tenants/table_of_phone_books', :locals => {:tenant => tenant}

    .well
      %h2 Gemeinschaft Configuration
      = render :partial => 'tenants/gs_parameter_table', :locals => {:tenant => tenant}

      %p
        This system can provision a total of   
        = PhoneModel.count
        different phone models of the following manufacturers:  
        - Manufacturer.all.each do |manufacturer|
          - if manufacturer != Manufacturer.last && manufacturer != Manufacturer.limit(Manufacturer.count - 1).last
            = succeed ', ' do
              =link_to link_to Haml::Engine.new("%i.icon-list").render + ' ' + manufacturer, manufacturer_path(manufacturer)
          - elsif manufacturer == Manufacturer.limit(Manufacturer.count - 1).last
            = succeed ' and ' do
              =link_to link_to Haml::Engine.new("%i.icon-list").render + ' ' + manufacturer, manufacturer_path(manufacturer)
          - else
            = succeed '.' do
              =link_to link_to Haml::Engine.new("%i.icon-list").render + ' ' + manufacturer, manufacturer_path(manufacturer)

      - if GsParameter.get('SIM_CARDS') == true
        = render :partial => 'tenants/table_of_sim_card_providers'

      = render :partial => 'call_routes', :locals => {:tenant => tenant}

      = render :partial => 'gateways', :locals => {:tenant => tenant, :gateways => gateways}

      = render :partial => 'table_of_backup_jobs', :locals => {:tenant => tenant, :backup_jobs => backup_jobs}