- cache(['gs_parameters_tenant_overview_table', I18n.locale, tenant, GuiFunction.count, GuiFunction.reorder(:updated_at).last, GsParameter.count, GsParameter.reorder(:updated_at).last]) do
  %table
    %tr{:class => 'even'}
      %th
        Funktion
      %th
        Anzahl
      %th
        Letztes Update

    %tr{:class => 'odd'}
      %td
        = t("gui_functions.name")
      %td
        = link_to GuiFunction.count.to_s, gui_functions_path
      %td
        = l GuiFunction.reorder(:updated_at).last.updated_at, :format => :short 
    %tr{:class => 'even'}
      %td
        = t("gs_parameters.name")
      %td
        = link_to GsParameter.count.to_s, gs_parameters_path
      %td
        = l GsParameter.reorder(:updated_at).last.updated_at, :format => :short 
