.row
  - if GsParameter.get('AUTO_ADMIN_ONLINE_HELP') == true && !SipAccount.any?
    .span4
      -# SIP accounts
      -#
      %h2= t('sip_accounts.index.page_title')
      - if tenant.sip_accounts.any?
        = render "sip_accounts/index_core", :sip_accounts => tenant.sip_accounts
      = render :partial => 'shared/create_link', :locals => {:parent => tenant, :child_class => SipAccount}

    .span8
      .well
        %p
          In der #{link_to 'Admin-Doku', page_help_path} finden Sie die Beschreibung wie ein neues Telefon mit einem SIP-Account eingerichtet werden kann. Dazu gibt es auch einen Screencast:
        = render :partial => 'page/docu/screencast_list', :locals => {:screencast_name => 'firmen_sip_account_und_telefon_anlegen'}

  - else
    .span12
      -# SIP accounts
      -#
      %h2= t('sip_accounts.index.page_title')
      - if @tenant.sip_accounts.count <= GsParameter.get('NUMBER_OF_SHOWN_ITEMS')
        = render "sip_accounts/index_core", :sip_accounts => tenant.sip_accounts
        = render :partial => 'shared/create_link', :locals => {:parent => tenant, :child_class => SipAccount}
      - else
        %p
          = link_to t('sip_accounts.index.page_title'), tenant_sip_accounts_path(tenant)
