- cache(['table_of_pbx_features', I18n.locale, tenant, tenant.callthroughs.count, tenant.callthroughs.order(:updated_at).last, tenant.conferences.count, tenant.conferences.order(:updated_at).last, tenant.hunt_groups.count, tenant.hunt_groups.order(:updated_at).last, tenant.automatic_call_distributors.count, tenant.automatic_call_distributors.order(:updated_at).last]) do
  %table
    %tr{:class => 'even'}
      %th
        Funktion
      %th
        Anzahl
      %th
    - cache(['table_of_pbx_features_callthroughs_row', I18n.locale, tenant, tenant.callthroughs.count, tenant.callthroughs.order(:updated_at).last]) do
      %tr{:class => 'odd'}
        %td
          = t("callthroughs.name")
        %td
          - if tenant.callthroughs.any?
            = link_to tenant.callthroughs.count.to_s, tenant_callthroughs_path(tenant)
          - else
            = '-'
        %td
          = render :partial => 'shared/create_link', :locals => {:parent => tenant, :child_class => Callthrough}
    - cache(['table_of_pbx_features_conferences_row', I18n.locale, tenant, tenant.conferences.count, tenant.conferences.order(:updated_at).last]) do
      %tr{:class => 'even'}
        %td
          = t("conferences.name")
        %td
          - if tenant.conferences.any?
            = link_to tenant.conferences.count.to_s, tenant_conferences_path(tenant)
          - else
            = '-'
        %td
          = render :partial => 'shared/create_link', :locals => {:parent => tenant, :child_class => Conference}
    - cache(['table_of_pbx_features_hunt_groups_row', I18n.locale, tenant, tenant.hunt_groups.count, tenant.hunt_groups.order(:updated_at).last]) do
      %tr{:class => 'odd'}
        %td
          = t("hunt_groups.name")
        %td
          - if tenant.hunt_groups.any?
            = link_to tenant.hunt_groups.count.to_s, tenant_hunt_groups_path(tenant)
          - else
            = '-'
        %td
          = render :partial => 'shared/create_link', :locals => {:parent => tenant, :child_class => HuntGroup}
    - cache(['table_of_pbx_features_automatic_call_distributors_row', I18n.locale, tenant, tenant.automatic_call_distributors.count, tenant.automatic_call_distributors.order(:updated_at).last]) do
      %tr{:class => 'even'}
        %td
          = t("automatic_call_distributors.name")
        %td
          - if tenant.automatic_call_distributors.any?
            = link_to tenant.automatic_call_distributors.count.to_s, tenant_automatic_call_distributors_path(tenant)
          - else
            = '-'
        %td
          = render :partial => 'shared/create_link', :locals => {:parent => tenant, :child_class => AutomaticCallDistributor}