- content_for :title, @tenant.name

%table{:class => 'table table-striped'}
  %tbody
    %tr
      %td
        %strong= t('tenants.show.name') + ":"
      %td= @tenant.name
    - if !@tenant.description.blank?
      %tr
        %td
          %strong= t('tenants.show.description') + ":"
        %td= @tenant.description

= render :partial => 'shared/show_edit_destroy_part', :locals => { :child => @tenant }

- if @tenant.user_groups.where(:name => 'Admins').any? && @tenant.user_groups.where(:name => 'Admins').first.users.include?(current_user)
  = render :partial => 'admin_area', :locals => { :tenant => @tenant, :gateways => @gateways}