%table.table.table-striped
  %tr
    %th
    %th= t('intruders.index.contact_ip')
    %th= t('intruders.index.points')
    %th= t('intruders.index.ban_last')
    %th= t('intruders.index.contact_count')
    %th= t('intruders.index.contact_last')
    %th= t('intruders.index.contacts_per_second')
    %th= t('intruders.index.user_agent')
    %th= t('intruders.index.to_user')

  
  - for intruder in intruders
    %tr
      %td
        - if intruder.list_type == 'whitelist'
          %i.icon-ok
        - elsif intruder.bans.to_i > 0
          %i.icon-fire
        - elsif intruder.points.to_i > 0
          %i.icon-warning-sign

      %td= intruder.contact_ip
      %td= intruder.points
      %td 
        - if intruder.ban_last
          = l intruder.ban_last, :format => :short

      %td= intruder.contact_count
      %td
        - if intruder.contact_last
          = l intruder.contact_last, :format => :short
      %td= intruder.contacts_per_second
      %td= intruder.user_agent
      %td= intruder.to_user
      =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:child => intruder}
