%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t('phones.index.mac_address')
      %th
        %span.hidden-phone
          = t('phones.index.phone_model_id')
        %span.visible-phone
          = truncate(t('phones.index.phone_model_id'), :length => 9)
      %th
        %span.hidden-phone
          = t('phones.index.hot_deskable')
      %th
        %span.hidden-phone
          = t('phones.index.ip_address')

  %tbody
    - for phone in phones
      %tr
        %td= phone.pretty_mac_address
        %td= phone.phone_model
        %td
          %span.hidden-phone
            = phone.hot_deskable
        %td= phone.ip_address
        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => phone.phoneable, :child => phone}