- content_for :title, t("phones.show.page_title")

.row
  .span6
    %table
      %tr
        %td
          %strong= t('phones.show.mac_address') + ":"
        %td
          = @phone.pretty_mac_address
      %tr
        %td
          %strong= t('phones.show.phone_model_id') + ":"
        %td
          = @phone.phone_model
          - if !@phone.phone_model.product_manual_homepage_url.blank?
            (#{link_to t('phones.show.manual'), @phone.phone_model.product_manual_homepage_url})
      - if @phone.hot_deskable == true
        %tr
          %td
            %strong= t('phones.show.hot_deskable') + ":"
          %td
            = @phone.hot_deskable
        %tr
          %td
            %strong= t('phones.show.fallback_sip_account_id') + ":"
          %td
            = @phone.fallback_sip_account

      - if defined? GsParameter.get('NIGHTLY_REBOOT_OF_PHONES') && GsParameter.get('NIGHTLY_REBOOT_OF_PHONES') == true
        %tr
          %td
            %strong= t('phones.show.nightly_reboot') + ":"
          %td
            = @phone.nightly_reboot

      - if !GsParameter.get('PROVISIONING_KEY_LENGTH').nil? && GsParameter.get('PROVISIONING_KEY_LENGTH') > 0
        %tr
          %td
            %strong= t('phones.show.provisioning_key_active') + ":"
          %td
            = @phone.provisioning_key_active

      %tr
        %td
          %strong= t('phones.show.ip_address') + ":"
        %td
          = @phone.ip_address

    = render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @phone.phoneable, :child => @phone }


  .span6
    - if @phone.ip_address.blank? && @phone.phone_model.manufacturer.ieee_name == 'SNOM Technology AG'
      %p
        Sollten Sie Ihren DHCP-Server noch nicht für das automatische Konfigurieren der GS5 Provisionierungs-URL konfiguriert haben, können Sie manuell in Ihrem Telefon die folgende Provisionierungs-URL eingeben.
      %p
        Das entsprechende Eingabefeld finden Sie unter
        %br
        Advanced -> Update -> Setting URL
      %p
        Das "{mac}" bitte genau so eingeben, es wird vom Telefon automatisch mit der eigenen MAC-Adresse befüllt:
        %pre
          = "http://#{GemeinschaftSetup.first.sip_domain.host}/settings-{mac}"
      %p
        Danach müssen Sie die Konfiguration abspeichern und das Telefon booten.

.row
  .span12
    %h2= t("phones.sip_accounts.title")
    - if @phone.phone_sip_accounts.count > 0
      = render "phone_sip_accounts/index_core", :phone_sip_accounts => @phone.phone_sip_accounts

    = render :partial => 'shared/create_link', :locals => {:parent => @phone, :child_class => PhoneSipAccount}
