.inputs
  = f.input :gateway_id, :label => t('gateway_parameters.form.gateway_id.label'), :hint => conditional_hint('gateway_parameters.form.gateway_id.hint')
  = f.input :name, :label => t('gateway_parameters.form.name.label'), :hint => conditional_hint('gateway_parameters.form.name.hint')
  = f.input :value, :label => t('gateway_parameters.form.value.label'), :hint => conditional_hint('gateway_parameters.form.value.hint')
  = f.input :class_type, :label => t('gateway_parameters.form.class_type.label'), :hint => conditional_hint('gateway_parameters.form.class_type.hint')
  = f.input :description, :label => t('gateway_parameters.form.description.label'), :hint => conditional_hint('gateway_parameters.form.description.hint')
