<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @row.user_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @row.last_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @row.middle_name %>
</p>

<p>
  <b>First name:</b>
  <%= @row.first_name %>
</p>

<p>
  <b>Office phone number:</b>
  <%= @row.office_phone_number %>
</p>

<p>
  <b>Internal extension:</b>
  <%= @row.internal_extension %>
</p>

<p>
  <b>Mobile phone number:</b>
  <%= @row.mobile_phone_number %>
</p>

<p>
  <b>Fax phone number:</b>
  <%= @row.fax_phone_number %>
</p>

<p>
  <b>Email:</b>
  <%= @row.email %>
</p>

<p>
  <b>Pin:</b>
  <%= @row.pin %>
</p>

<p>
  <b>Photo file name:</b>
  <%= @row.photo_file_name %>
</p>