- content_for :title, t("extension_modules.show.page_title")

%p
  %strong= t('extension_modules.show.model') + ":"
  = @extension_module.model
%p
  %strong= t('extension_modules.show.mac_address') + ":"
  = @extension_module.mac_address
%p
  %strong= t('extension_modules.show.position') + ":"
  = @extension_module.position
%p
  %strong= t('extension_modules.show.active') + ":"
  = @extension_module.active
%p
  %strong= t('extension_modules.show.provisioning_key_active') + ":"
  = @extension_module.provisioning_key_active

%p
  = link_to raw("<i class = 'icon-repeat'></i> ") + t('extension_modules.show.actions.restart'), restart_phone_extension_module_path(@phone, @extension_module), :method => :put, :class => 'btn btn-mini'

= render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @phone, :child => @extension_module }
