%table.table.table-striped
  %tr
    %th= t('sim_cards.index.sip_account_id')
    %th= t('sip_accounts.index.phone_numbers')
    %th= t('sim_cards.index.auth_key')
    %th= t('sim_cards.index.state')
    %th
  
  - for sim_card in sim_cards
    %tr
      %td= sim_card.sip_account
      %td
        = render 'phone_numbers/listing', :phone_numbers => sim_card.sip_account.phone_numbers.order(:number)
      %td= sim_card.auth_key
      %td= sim_card.state
      =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => @parent, :child => sim_card}