%table.table.table-striped
  %thead
    %tr
      - if route_elements.count > 1
        %th
      %th
        %span.hidden-phone
          = t('route_elements.index.var_in')
      %th
        %span.hidden-phone
          = t('route_elements.index.var_out')
      %th= t('route_elements.index.pattern')
      %th
        %span.hidden-phone
          = t('route_elements.index.replacement')
      %th
        %span.hidden-phone
          = t('route_elements.index.action')
      %th
        %span.hidden-phone
          = t('route_elements.index.mandatory')

  %tbody{ :id => "route_elements", :'data-update-url' => sort_call_route_route_elements_url(route_elements.first.call_route)}
    - for route_element in route_elements
      = content_tag_for :tr, route_element do
        - if route_elements.count > 1
          %td
            %span.handle
              %i.icon-resize-vertical  
        %td
          %span.hidden-phone
            = route_element.var_in
        %td
          %span.hidden-phone
            = route_element.var_out
        %td= route_element.pattern
        %td
          %span.hidden-phone
            = route_element.replacement
        %td
          %span.hidden-phone
            = route_element.action
        %td
          %span.hidden-phone
            = route_element.mandatory
        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => @call_route, :child => route_element}