%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t('route_elements.index.var_in')
      %th= t('route_elements.index.var_out')
      %th= t('route_elements.index.pattern')
      %th= t('route_elements.index.replacement')
      %th= t('route_elements.index.action')
      %th= t('route_elements.index.mandatory')

  %tbody
    - for route_element in route_elements
      %tr
        %td= route_element.var_in
        %td= route_element.var_out
        %td= route_element.pattern
        %td= route_element.replacement
        %td= route_element.action
        %td= route_element.mandatory
        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => @call_route, :child => route_element}