- title t("route_elements.show.page_title")

%p
  %strong= t('route_elements.show.var_in') + ":"
  = @route_element.var_in
%p
  %strong= t('route_elements.show.var_out') + ":"
  = @route_element.var_out
%p
  %strong= t('route_elements.show.pattern') + ":"
  = @route_element.pattern
%p
  %strong= t('route_elements.show.replacement') + ":"
  = @route_element.replacement
%p
  %strong= t('route_elements.show.action') + ":"
  = @route_element.action
%p
  %strong= t('route_elements.show.mandatory') + ":"
  = @route_element.mandatory

= render :partial => 'shared/show_edit_destroy_part', :locals => {:parent => @call_route, :child => @route_element }