- cache(['user_groups_table', I18n.locale, current_user, @user, user_groups, User.order(:updated_at).last, User.count, UserGroupMembership.count, GsParameter.get('NUMBER_OF_SHOWN_ITEMS')]) do
  %table.table.table-striped
    %thead
      %tr
        %th= t('user_groups.index.name')
        - if user_groups.pluck(:description).uniq != [nil]
          %th
            %span.hidden-phone
              = t('user_groups.index.description')
        - if @user
          %th
            %span.hidden-phone
              = t('user_groups.index.tenant_id')
        - else
          %th= t('user_groups.index.members')

    %tbody
      - for user_group in user_groups
        %tr
          %td= user_group.name
          - if user_groups.pluck(:description).uniq != [nil]
            %td
              %span.hidden-phone
                = user_group.description
          - if @user
            %td
              %span.hidden-phone
                = user_group.tenant
          - else
            %td
              =render 'users/listing', :users => user_group.users

          =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => user_group.tenant, :child => user_group}
