- content_for :title, t("user_groups.show.page_title")

%table.table.table-striped
  %tbody
    %tr
      %td
        %strong= t('user_groups.show.name') + ":"
      %td
        = @user_group.name
    %tr
      %td
        %strong= t('user_groups.show.description') + ":"
      %td
        = @user_group.description
    %tr
      %td
        %strong= t('user_groups.show.tenant_id') + ":"
      %td
        = @user_group.tenant

= render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @user_group.tenant, :child => @user_group }

%h2=t("user_group_memberships.index.page_title")

- if @user_group.user_group_memberships.any?
  = render "user_group_memberships/index_core", :user_group_memberships => @user_group.user_group_memberships

= render :partial => 'shared/create_link', :locals => {:parent => @user_group, :child_class => UserGroupMembership}