- content_for :title, t("hunt_groups.show.page_title")

%p
  %strong= t('hunt_groups.show.name') + ":"
  = @hunt_group.name
%p
  %strong= t('hunt_groups.show.strategy') + ":"
  = t("hunt_groups.strategies.#{@hunt_group.strategy}")
- if @hunt_group.seconds_between_jumps
  %p
    %strong= t('hunt_groups.show.seconds_between_jumps') + ":"
    = @hunt_group.seconds_between_jumps

= render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @tenant, :child => @hunt_group }

%h2= t('hunt_groups.form.phone_numbers.label')
- if @hunt_group.phone_numbers.count > 0
  = render 'phone_numbers/index_core', :phone_numbers => @hunt_group.phone_numbers
  %br
= render :partial => 'shared/create_link', :locals => {:parent => @hunt_group, :child_class => PhoneNumber}

- if @hunt_group.call_forwards.count > 0 || can?(:create, @hunt_group.call_forwards.build)
  %h2= t('call_forwards.index.page_title')
  - if @hunt_group.call_forwards.count > 0
    = render "call_forwards/index_core", :call_forwards => @hunt_group.call_forwards
    %br
  = render :partial => 'shared/create_link', :locals => { :parent => @hunt_group, :child_class => CallForward }

%h2= t('hunt_groups.form.hunt_group_members.label')
- if @hunt_group.hunt_group_members.count > 0
  = render 'hunt_group_members/index_core', :hunt_group_members => @hunt_group.hunt_group_members
  %br
= render :partial => 'shared/create_link', :locals => {:parent => @hunt_group, :child_class => HuntGroupMember}