- content_for :title, t("backup_jobs.show.page_title")

%p
  %strong= t('backup_jobs.show.started_at') + ":"
  = @backup_job.started_at
%p
  %strong= t('backup_jobs.show.finished_at') + ":"
  = @backup_job.finished_at
%p
  %strong= t('backup_jobs.show.state') + ":"
  = @backup_job.state
%p
  %strong= t('backup_jobs.show.directory') + ":"
  = @backup_job.directory
%p
  %strong= t('backup_jobs.show.size_of_the_backup') + ":"
  - if @backup_job.backup_file?
    = number_to_human_size(@backup_job.backup_file.size, :precision => 2)

= render :partial => 'shared/show_edit_destroy_part', :locals => { :child => @backup_job }