%table.table.table-striped
  %thead
    %tr
      %th
      %th= t('call_forwards.index.call_forward_case')
      %th= t('call_forwards.index.timeout')
      %th= t('call_forwards.index.destination')
      %th= t('call_forwards.index.source')  

  %tbody
    - for call_forward in call_forwards
      %tr
        %td
          -if call_forward.active
            %i.icon-ok
          - else
            %i.icon-ban-circle
        %td= t("call_forward_cases.#{call_forward.call_forward_case.value}")
        %td= call_forward.timeout
        %td
          = call_forward.destination
          - if call_forward.destinationable_type
            %br
            = call_forward.destinationable_type
            - if Module.constants.include?(call_forward.destinationable_type.to_sym)
              = ": #{call_forward.destinationable}"
        %td= call_forward.source
        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => call_forward.call_forwardable, :child => call_forward}

