- content_for :title, t("call_forwards.show.page_title")

%p
  %strong= t('call_forwards.show.call_forward_case') + ":"
  = t("call_forward_cases.#{@call_forward.call_forward_case.value}") 
%p
  %strong= t('call_forwards.show.timeout') + ":"
  = @call_forward.timeout
%p
  %strong= t('call_forwards.show.destination') + ":"
  - if @call_forward.destinationable_id && @call_forward.destinationable
    = "#{@call_forward.destinationable_type}: #{@call_forward.destinationable}"
    - if !@call_forward.destination.blank?
      = "(#{@call_forward.destination})"
  - elsif !@call_forward.destinationable_type.blank?
    = "#{@call_forward.destinationable_type}: #{@call_forward.destination}"
  - else
    = @call_forward.destination

%p
  %strong= t('call_forwards.show.source') + ":"
  = @call_forward.source
%p
  %strong= t('call_forwards.show.active') + ":"
  = @call_forward.active

= render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @parent, :child => @call_forward }
