%table.table.table-striped
  %tr
    %th= t('groups.index.name')
    %th= t('groups.index.active')
    %th= t('groups.index.comment')

  
  - for group in groups
    %tr
      %td= group.name
      %td= group.active
      %td= group.comment
      =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:child => group}