%table.table.table-striped
  %thead
    %tr
      %th
      %th= t('calls.index.created')
      %th= t('calls.index.destination')
      %th= t('calls.index.caller')
      %th= t('calls.index.callee')
      %th= t('calls.index.callstate')
      %th= t('calls.index.codecs')
      %th
  
  %tbody
    - for call in calls
      %tr
        %td
          - if call.direction == 'inbound'
            %i.icon-arrow-left
          - else
            %i.icon-arrow-right
        %td
          = l Time.at(call.start_stamp), :format => :short
        %td
          = call.destination
        %td
          = "#{call.caller_id_name} #{call.caller_id_number}"
        %td
          = "#{call.callee_name} #{call.callee_number}"
        %td
          = call.callstate
        %td
          = "#{call.read_codec}/#{call.read_rate}:#{call.write_codec}/#{call.write_rate}"

        %td
          %p
            %a.btn.btn-small.btn-danger{'data-confirm' => t('calls.index.actions.confirm_destroy'), 'data-method' => 'delete', :href => method( :"#{parent.class.name.underscore}_call_path" ).(parent, call), :rel => 'nofollow'}
              %i.icon-trash.icon-white
              =t('calls.index.actions.destroy')
