- if @parent && @parent.class == Tenant
  = simple_form_for([@parent, @user]) do |f|
    = f.error_notification

    = render "form_core", :f => f

    .form-actions
      = f.button :submit, conditional_t('users.form.submit')
- else
  = simple_form_for(@user) do |f|
    = f.error_notification

    = render "form_core", :f => f

    .form-actions
      = f.button :submit, conditional_t('users.form.submit')
