- content_for :title, "User: #{@user}"

.row
  .span3
    - cache(['user_show_aside', I18n.locale, @user, @user.sip_accounts, @user.conferences]) do

      - if @user.image? && @user.image_url(:profile)
        %span.hidden-phone
          %ul.thumbnails
            %li.span3
              %div.thumbnail
                %a.thumbnail{:href => @user.image_url}
                  =image_tag(@user.image_url(:profile), :alt => "Avatar #{@user}", :class => 'img-rounded')

      %table.table.table-striped
        %tbody
          %tr
            %td
              %strong= truncate(t('users.show.user_name'), :length => 7) + ":"
            %td
              = truncate(@user.user_name, :length => 14)
          %tr
            %td
              %strong= truncate(t('users.show.email'), :length => 7) + ":"
            %td
              = mail_to @user.email, (Haml::Engine.new("%i.icon-envelope").render + ' ' + truncate(@user.email, :length => 16))

      %p.controls
        = render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @tenant, :child => @user }

      - @user.sip_accounts.each do |sip_account|
        - phone_number = sip_account.phone_numbers.order(:number).last
        - if phone_number && !phone_number.number.blank? && phone_number.number[0] != '+'
          %p
            %strong= sip_account.phone_numbers.order(:number).last.number
          %p
            =link_to t("call_histories.index.page_title"), sip_account_call_histories_path(sip_account)
            %br
            =link_to t("voicemail_messages.index.page_title"), sip_account_voicemail_messages_path(sip_account)
            %br
            =link_to t("call_forwards.index.page_title"), sip_account_call_forwards_path(sip_account)
            %br
            =link_to t("voicemail_settings.index.page_title"), sip_account_voicemail_settings_path(sip_account)
            %br
            =link_to t("softkeys.index.page_title"), sip_account_softkeys_path(sip_account)
            %br
            =link_to t("ringtones.show.page_title"), sip_account_ringtones_path(sip_account)

      - if @user.conferences.any?
        %p
          %strong= t("conferences.index.page_title")
        - @user.conferences.each do |conference|
          %p
            =link_to conference, edit_user_conference_path(@user, conference)


  .span9
    = render :partial => 'phone_books', :locals => {:user => @user, :phone_books => @phone_books}

    - if current_user.user_groups.where(:name => 'Admins').any?
      - cache(['user_show_user_groups_overview', I18n.locale, @user, @user.user_groups]) do
        = render :partial => 'user_groups', :locals => {:user => @user, :tenant => @tenant}

    - cache(['user_show_sip_accounts_overview', I18n.locale, @user, @user.sip_accounts]) do
      = render :partial => 'sip_accounts', :locals => {:user => @user}

    - cache(['user_show_phones_overview', I18n.locale, @user, @user.phones]) do
      = render :partial => 'phones', :locals => {:user => @user}

    - if GsParameter.get('SIM_CARDS') == true
      - cache(['user_show_sim_cards_overview', I18n.locale, @user, @user.sim_cards]) do
        %h2=t('sim_cards.index.page_title')
        = render :partial => 'sim_cards/index_core', :locals => {:parent => SimCardProvider.first, :sim_cards => @user.sim_cards}
        = render :partial => 'shared/create_link', :locals => {:parent => SimCardProvider.first, :child_class => SimCard}

    - cache(['user_show_fax_accounts_overview', I18n.locale, @user, @user.fax_accounts]) do
      = render :partial => 'fax_accounts', :locals => {:user => @user}

    - cache(['user_show_conferences_overview', I18n.locale, @user, @user.conferences]) do
      = render :partial => 'conferences', :locals => {:user => @user}
