%table.table.table-striped
  %thead
    %tr
      %th= t('fax_documents.index.sent_at')
      %th
        = t('fax_documents.index.phone_number')
        %br
        = t('fax_documents.index.remote_station_id')
      %th= t('fax_documents.index.thumbnails')
      %th
      %th

  %tbody
    - for fax_document in fax_documents
      - case fax_document.state
        - when 'unsuccessful'
          - current_status = 'error'
        - when 'sending'
          - current_status = 'success'
        - when 'queued_for_sending'
          - current_status = 'warning'
        - else
          - current_status = ''

      %tr{:class => current_status}
        %td
          - case fax_document.state
            - when 'successful'
              = "#{fax_document.inbound ? '&#8680;' : '&#8678;'}".html_safe
              = l fax_document.sent_at, :format => :short
            - else
              = t("fax_documents.states.#{fax_document.state}")
        %td
          - if fax_document.inbound
            = "#{fax_document.caller_id_number} #{fax_document.caller_id_name}"
          - else
            = fax_document.destination_phone_number
          %br
          = fax_document.remote_station_id
        %td
          %ul.thumbnails
            - fax_document.fax_thumbnails.limit(3).each do |fax_thumbnail|
              %li.span1
                %div.thumbnail
                  %a.thumbnail{:href => fax_thumbnail.thumbnail.url}
                    =image_tag(fax_thumbnail.thumbnail.url, :alt => "Page #{fax_thumbnail.position}")
                  %p
                    %small
                      = "#{fax_thumbnail.position}/#{fax_document.fax_thumbnails.count}"

          - if fax_document.document?
            %p
              %a{:href => fax_document.document.url}
                %i{:class => 'icon-download'}
                = t("fax_documents.index.actions.download_pdf") + " (#{number_to_human_size(fax_document.document.size, :precision => 2)})"

        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => fax_document.fax_account, :child => fax_document}
