%table.table.table-striped
  %thead
    %tr
      %th= t('conferences.index.name')
      %th
        %span.hidden-phone
          = t('conferences.index.phone_numbers')
      %th
        %span.hidden-phone
          = t('conferences.index.flags')

  %tbody
    - for conference in conferences
      - parent = conference.conferenceable
      %tr
        %td
          %span.hidden-phone
            = conference.name
          %span.visible-phone
            = truncate(conference.name, :length => 8)
        %td
          - if conference.phone_numbers.any?
            = render 'phone_numbers/listing', :phone_numbers => conference.phone_numbers.order(:number)

        %td
          - if !conferences.respond_to?('where') || conferences.where(:pin => '').count != conferences.count
            - if !conference.pin.blank?
              %span.label.label-info
                = "PIN: #{conference.pin}"

          %span.hidden-phone
            - if conference.open_for_anybody
              %span.label
                = t('conferences.index.open_for_anybody')
            - if conference.announce_new_member_by_name
              %span.label
                = t('conferences.index.announce_new_member_by_name')
            - if conference.announce_left_member_by_name
              %span.label
                = t('conferences.index.announce_left_member_by_name')

        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => parent, :child => conference}