%table{:class => 'table table-striped'}
  %tr
    %th= t('conferences.index.name')
    - if !conferences.respond_to?('where') || conferences.where(:start => nil).where(:end => nil).count != conferences.count
      %th= t('conferences.index.start')
      %th= t('conferences.index.end')
    %th= t('conferences.index.phone_numbers')
    - if !conferences.respond_to?('where') || conferences.where(:pin => '').count != conferences.count
      %th= t('conferences.index.pin')
    %th= t('conferences.index.max_members')
    %th= t('conferences.index.number_of_invitees')
    %th= t('conferences.index.flags')

  
  - for conference in conferences
    - parent = conference.conferenceable
    %tr
      %td= conference.name
      - if !conferences.respond_to?('where') || conferences.where(:start => nil).where(:end => nil).count != conferences.count
        %td
          - if conference.start
            = l conference.start, :format => :long
          - else
            = '-'
        %td
          - if conference.end
            = l conference.end, :format => :long
          - else
            = '-'
      %td
        - if conference.phone_numbers.count > 0
          = render 'phone_numbers/listing', :phone_numbers => conference.phone_numbers.order(:number)
          %br
        = render :partial => 'shared/create_link', :locals => {:parent => conference, :child_class => PhoneNumber, :short_link => true}

      - if !conferences.respond_to?('where') || conferences.where(:pin => '').count != conferences.count
        %td
          - if !conference.pin.blank?
            = conference.pin
          - else
            = '-'
      %td= conference.max_members
      %td= conference.conference_invitees.count
      %td
        %ul
        - if conference.open_for_anybody
          %li= t('conferences.index.open_for_anybody')
        - if conference.announce_new_member_by_name
          %li= t('conferences.index.announce_new_member_by_name')
        - if conference.announce_left_member_by_name
          %li= t('conferences.index.announce_left_member_by_name')

      =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => parent, :child => conference}