%header#main
  .light
    %h1.gemeinschaft-logo
      - if @current_user && @current_user.current_tenant
        = link_to "Gemeinschaft", tenant_path(@current_user.current_tenant)
      - else
        = link_to "Gemeinschaft", root_url

    - if current_user
      = form_tag '/search' do
        %div.search-box
          - if GuiFunction.display?('search_field_in_top_navigation_bar', current_user)
            %input.text{:value => 'Suchen ...', :name => 'q'}
            %input{:type => 'submit', :value => ''}

    / Adjustable Navigation.
    - if current_user
      - if navigation_items.size > 0
        - navigation_items.each do |item|
          - if GuiFunction.display?('navigation_items_in_top_navigation_bar', current_user)
            %span
              = link_to item[:title], item[:url]
        
    - if current_user
      .user-context
        %a.user{:href => tenant_user_path(current_user.current_tenant.id, current_user.id)}
          - if GuiFunction.display?('user_avatar_in_top_navigation_bar', current_user)
            - if current_user.image? && current_user.image_url(:mini)
              = image_tag current_user.image_url(:mini).to_s, :class => 'display'
            - else
              - if current_user.male?
                = image_tag 'icons/user-male-16x.png', :class => 'display logged-out'
              - else
                = image_tag 'icons/user-female-16x.png', :class => 'display logged-out'
          = current_user
        = link_to( "[x]", log_out_path, :class => 'logout', :title => "Abmelden" )  # Temporary way of logging out.
    - else
      .user-context
        = link_to "Registrieren", sign_up_path 
        or
        = link_to "Anmelden", log_in_path
