- if !(defined? parent).nil? && !(defined? child).nil?
  %td
    %span{:style => 'white-space: nowrap'}
      - if can? :show, child
        %a.btn.btn-small.btn-success{:href => method( :"#{parent.class.name.underscore}_#{child.class.name.underscore}_path" ).(parent, child) }
          %i.icon-info-sign.icon-white
          %span.hidden-phone
            =t("#{child.class.name.underscore.pluralize}.index.actions.show")

      - if can? :edit, child
        %a.btn.btn-small.btn-warning{:href => method( :"edit_#{parent.class.name.underscore}_#{child.class.name.underscore}_path" ).(parent, child) }
          %i.icon-edit.icon-white
          %span.hidden-phone
            =t("#{child.class.name.underscore.pluralize}.index.actions.edit")

      - if can? :destroy, child
        %a.btn.btn-small.btn-danger{"data-confirm" => t("#{child.class.name.underscore.pluralize}.index.actions.confirm_detroy"), "data-method" => "delete", :href => method( :"#{parent.class.name.underscore}_#{child.class.name.underscore}_path" ).(parent, child), :rel => "nofollow"}
          %i.icon-remove.icon-white
          %span.hidden-phone
            =t("#{child.class.name.underscore.pluralize}.index.actions.destroy")

- elsif !(defined? child).nil?
  %td
    %span{:style => 'white-space: nowrap'}
      - if can? :show, child
        %a.btn.btn-small.btn-success{:href => method( :"#{child.class.name.underscore}_path" ).(child) }
          %i.icon-info-sign.icon-white
          %span.hidden-phone
            =t("#{child.class.name.underscore.pluralize}.index.actions.show")

      - if can? :edit, child
        %a.btn.btn-small.btn-warning{:href => method( :"edit_#{child.class.name.underscore}_path" ).(child) }
          %i.icon-edit.icon-white
          %span.hidden-phone
            =t("#{child.class.name.underscore.pluralize}.index.actions.edit")
          
      - if can? :destroy, child
        %a.btn.btn-small.btn-danger{"data-confirm" => t("#{child.class.name.underscore.pluralize}.index.actions.confirm_detroy"), "data-method" => "delete", :href => method( :"#{child.class.name.underscore}_path" ).(child), :rel => "nofollow"}
          %i.icon-trash.icon-white
          %span.hidden-phone
            =t("#{child.class.name.underscore.pluralize}.index.actions.destroy")