%nav
  %ol.abc
    %li
      %a{ :href => "?type=" }= t("call_histories.index.navigation.all", :calls => @calls_count)
      %a{ :href => "?type=missed" }= t("call_histories.index.navigation.missed", :calls => @calls_missed_count)
      %a{ :href => "?type=received" }= t("call_histories.index.navigation.received", :calls => @calls_received_count)
      %a{ :href => "?type=dialed" }= t("call_histories.index.navigation.dialed", :calls => @calls_dialed_count)
      %a{ :href => "?type=forwarded" }= t("call_histories.index.navigation.forwarded", :calls => @calls_forwarded_count)

.pagination
  = will_paginate @call_histories
