- content_for :title, "Gemeinschaft #{GsParameter.get('GEMEINSCHAFT_VERSION')}"

%div
  %h3 Aktueller Mandant
  - if current_user && current_user.current_tenant
    %strong= current_user.current_tenant
  - else
    %strong= "(none)"

%div
  %h3 Aktuelle Gruppenzugehörigkeiten
  %ul
    - (current_user.try(:user_groups) || []).each do |group|
      %li
        %strong= "#{group.name}"
        = "(aus Mandant: %s)" % group.tenant
