%table.table.table-striped
  %thead
    %tr
      %th= t('phone_books.index.name')
      %th
        %span.visible-desktop
          = t('phone_books.index.description')
      %th
        %span.visible-desktop
          = t('phone_books.index.count')

  %tbody
    - for phone_book in phone_books
      %tr
        %td
          = phone_book.name
        %td
          %span.visible-desktop
            = phone_book.description
        %td
          %span.visible-desktop
            = number_with_delimiter( phone_book.phone_book_entries.count )

        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => phone_book.phone_bookable, :child => phone_book}