%table{:class => 'table table-striped'}
  %tr
    %th= t('phone_books.index.name')
    %th= t('phone_books.index.description')
    %th= t('phone_books.index.count')

  
  - for phone_book in phone_books
    %tr
      %td= phone_book.name
      %td= phone_book.description
      %td
        = number_with_delimiter( phone_book.phone_book_entries.count )
        = render :partial => 'shared/create_link', :locals => {:parent => phone_book, :child_class => PhoneBookEntry, :short_link => true}

      =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => phone_book.phone_bookable, :child => phone_book}