- content_for :title, t("gateway_headers.show.page_title")

%p
  %strong= t('gateway_headers.show.header_type') + ":"
  = @gateway_header.header_type
%p
  %strong= t('gateway_headers.show.constraint_value') + ":"
  = @gateway_header.constraint_value
%p
  %strong= t('gateway_headers.show.name') + ":"
  = @gateway_header.name
%p
  %strong= t('gateway_headers.show.value') + ":"
  = @gateway_header.value
%p
  %strong= t('gateway_headers.show.description') + ":"
  = @gateway_header.description

= render :partial => 'shared/show_edit_destroy_part', :locals => { :parent => @gateway, :child => @gateway_header }