- title t("call_routes.show.page_title")

%p
  %strong= t('call_routes.show.table') + ":"
  = @call_route.table
%p
  %strong= t('call_routes.show.name') + ":"
  = @call_route.name
%p
  %strong= t('call_routes.show.endpoint_type') + ":"
  = @call_route.endpoint_type
%p
  %strong= t('call_routes.show.endpoint_id') + ":"
  = @call_route.endpoint_id

= render :partial => 'shared/show_edit_destroy_part', :locals => { :child => @call_route }

%h3= t('route_elements.index.page_title')
- if @call_route.route_elements && @call_route.route_elements.count > 0
  = render "route_elements/index_core", :route_elements => @call_route.route_elements

= render :partial => 'shared/create_link', :locals => { :parent =>  @call_route, :child_class => RouteElement }
