!!! XML
%directory
  %item_list
    %item
      %ln= 'Directory'
      %ct= '!directory'
      %sd= 38
    %item
      %ln= 'Call History'
      %ct= '!callhistory'
      %sd= 39
    %item
      %ln= 'Applications'
      %ct= '!applications'
      %sd= 40
      
