!!! XML
%SnomIPPhoneDirectory{:speedselect => 'off'}
  %Title= @phone_xml_object[:title]
  %Prompt= @phone_xml_object[:prompt]
  - @phone_xml_object[:entries].each do |entry|
    %DirectoryEntry{:sel => entry[:selected].to_s}
      %Name= entry[:text]
      %Telephone= entry[:number]

  - if @phone_xml_object[:softkeys]
    - @phone_xml_object[:softkeys].each do |softkey|
      %SoftKeyItem
        %Name=  softkey[:name]
        - if ! softkey[:label].blank?
          %Label= softkey[:label]
        - if ! softkey[:url].blank?
          %URL= softkey[:url]
        - if ! softkey[:softkey].blank?
          %URL= softkey[:softkey]
