!!! XML
%SnomIPPhoneMenu{:state => 'relevant', :title => "Gemeinschaft #{GsParameter.get('GEMEINSCHAFT_VERSION')}"}
  %MenuItem{:name => t('config_snom.main_menu.phone_book')}
    %URL= "#{@base_url}/#{@sip_account_ids.first}/phone_book.xml"
  %Menu{:name => t('config_snom.main_menu.call_history')}
    %MenuItem{:name => t('config_snom.call_history.missed')}
      - @sip_account_ids.each_with_index do |id, index|
        %If{:condition => "$(current_line)==#{index+1}"}
          %URL= "#{@base_url}/#{id}/call_history_missed.xml"
    %MenuItem{:name => t('config_snom.call_history.received')}
      - @sip_account_ids.each_with_index do |id, index|
        %If{:condition => "$(current_line)==#{index+1}"}
          %URL= "#{@base_url}/#{id}/call_history_received.xml"
    %MenuItem{:name => t('config_snom.call_history.dialed')}
      - @sip_account_ids.each_with_index do |id, index|
        %If{:condition => "$(current_line)==#{index+1}"}
          %URL= "#{@base_url}/#{id}/call_history_dialed.xml"
    %MenuItem{:name => t('config_snom.call_history.forwarded')}
      - @sip_account_ids.each_with_index do |id, index|
        %If{:condition => "$(current_line)==#{index+1}"}
          %URL= "#{@base_url}/#{id}/call_history_forwarded.xml"

  %MenuItem{:name => t('config_snom.main_menu.voicemail')}
    %URL= "#{@base_url}/#{@sip_account_ids.first}/voicemail.xml"
  %MenuItem{:name => t('config_snom.main_menu.sip_account')}
    %Action= 'active_line'
    
  - if @enable_login
    %MenuItem{:name => t('config_snom.main_menu.log_in')}
      %URL= "#{@base_url}/log_in.xml"
  - if @enable_logout
    %MenuItem{:name => t('config_snom.main_menu.log_out')}
      %URL= "#{@base_url}/log_out.xml"

  %Menu{:name => t('config_snom.main_menu.preferences')}
    %MenuItem{:name => t('config_snom.preferences.contrast')}
      %Action= 'contrast'
    %MenuItem{:name => t('config_snom.preferences.use_backlight')}
      %Action= 'use_backlight'
    %MenuItem{:name => t('config_snom.preferences.backlight_active')}
      %Action= 'backlight_active'
    %MenuItem{:name => t('config_snom.preferences.backlight_idle')}
      %Action= 'backlight_idle'
    %MenuItem{:name => t('config_snom.preferences.equalizer')}
      %Action= 'equalizer'
  %Menu{:name => t('config_snom.main_menu.maintenance')}
    %MenuItem{:name => t('config_snom.maintenance.system_info')}
      %Action= 'sysinfo'
    %MenuItem{:name => t('config_snom.maintenance.reboot')}
      %Action= 'reboot'
    %If{:condition => '$(set:admin_mode)'}
      %MenuItem{:name => t('config_snom.maintenance.reset_settings')}
        %Action= 'reset_settings'
    %If{:condition => '$(update_available)'}
      %MenuItem{:name => t('config_snom.maintenance.software_update')}
        %Action= 'software_update'
