%table{:class => 'table table-striped'}
  %tr
    %th= t('gui_functions.index.category')
    %th= t('gui_functions.index.name')
    - @user_groups.each do |user_group|
      %th= user_group

  
  - for gui_function in gui_functions
    %tr
      - cache(['gui_functions_table_row', I18n.locale, gui_function]) do
        %td= gui_function.category
        %td
          = gui_function.name
          - if !gui_function.description.blank?
            %br
            %i= gui_function.description
        - @user_groups.each do |user_group|
          - if gui_function.gui_function_memberships.find_by_user_group_id(user_group.id)
            - if gui_function.gui_function_memberships.find_by_user_group_id(user_group.id).activated == true
              %td= 'x'
            - else
              %td= ''
          - else
            %td= 'x'

        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:child => gui_function}