.inputs
  = f.input :phone_book_entry_id, :label => t('addresses.form.phone_book_entry_id.label'), :hint => conditional_hint('addresses.form.phone_book_entry_id.hint')
  = f.input :line1, :label => t('addresses.form.line1.label'), :hint => conditional_hint('addresses.form.line1.hint')
  = f.input :line2, :label => t('addresses.form.line2.label'), :hint => conditional_hint('addresses.form.line2.hint')
  = f.input :street, :label => t('addresses.form.street.label'), :hint => conditional_hint('addresses.form.street.hint')
  = f.input :zip_code, :label => t('addresses.form.zip_code.label'), :hint => conditional_hint('addresses.form.zip_code.hint')
  = f.input :city, :label => t('addresses.form.city.label'), :hint => conditional_hint('addresses.form.city.hint')
  = f.input :country_id, :label => t('addresses.form.country_id.label'), :hint => conditional_hint('addresses.form.country_id.hint')
  = f.input :position, :label => t('addresses.form.position.label'), :hint => conditional_hint('addresses.form.position.hint')
