%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t('hunt_group_members.index.name')
      %th= t('hunt_group_members.index.active')
      %th= t('hunt_group_members.index.can_switch_status_itself')
      %th= t('hunt_group_members.index.phone_numbers')

  %tbody
    - for hunt_group_member in hunt_group_members
      %tr
        %td= hunt_group_member.name
        %td= hunt_group_member.active
        %td= hunt_group_member.can_switch_status_itself
        %td
          - if hunt_group_member.phone_numbers.count > 0
            =render 'phone_numbers/listing', :phone_numbers => hunt_group_member.phone_numbers
            %br
          = render :partial => 'shared/create_link', :locals => {:parent => hunt_group_member, :child_class => PhoneNumber, :short_link => true}

        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => hunt_group_member.hunt_group, :child => hunt_group_member}