- cache(['gateways_table', gateways.count, gateways.first, gateways.last]) do 
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t('gateways.index.name')
        %th= t('gateways.index.technology')
        %th= t('gateways.index.inbound')
        %th= t('gateways.index.outbound')
        %th= t('gateways.index.description')

    %tbody
      - for gateway in gateways
        %tr
          - cache(['gateway_single_table_row_within_tr', gateway, gateways.count]) do 
            %td= gateway.name
            %td= gateway.technology
            %td= gateway.inbound
            %td= gateway.outbound
            %td= gateway.description
            =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:child => gateway}