%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= t('callthroughs.index.name')
      %th= t('callthroughs.index.phone_numbers')
      %th
        %span.hidden-phone
          = t('callthroughs.index.access_authorized_phone_numbers')
      - if GsParameter.get('CALLTHROUGH_HAS_WHITELISTS') == true
        %th
          %span.hidden-phone
            = t('callthroughs.index.whitelist_phone_numbers')

  %tbody
    - for callthrough in callthroughs
      %tr
        %td= callthrough.name
        %td=render 'phone_numbers/listing', :phone_numbers => callthrough.phone_numbers
        %td
          %span.hidden-phone
            =render 'phone_numbers/listing', :phone_numbers => callthrough.access_authorization_phone_numbers
        - if GsParameter.get('CALLTHROUGH_HAS_WHITELISTS') == true
          %td
            %span.hidden-phone
              =render 'phone_numbers/listing', :phone_numbers => callthrough.whitelisted_phone_numbers
        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => callthrough.tenant, :child => callthrough}