- content_for :title, t("pager_group_destinations.show.page_title")

%p
  %strong= t('pager_group_destinations.show.pager_group_id') + ":"
  = @pager_group_destination.pager_group_id
%p
  %strong= t('pager_group_destinations.show.sip_account_id') + ":"
  = @pager_group_destination.sip_account_id

= render :partial => 'shared/show_edit_destroy_part', :locals => { :child => @pager_group_destination }