.inputs
  = f.input :name, :collection => GatewaySetting::GATEWAY_SETTINGS[@gateway.technology].map {|k,v| [t("gateway_settings.settings.#{@gateway.technology}.#{k}.label"), k] }, :label => t('gateway_settings.form.name.label'), :hint => conditional_hint('gateway_settings.form.name.hint'), :autofocus => true, :include_blank => false
  = f.input :value, :label => t('gateway_settings.form.value.label'), :hint => conditional_hint('gateway_settings.form.value.hint')
  = f.input :description, :label => t('gateway_settings.form.description.label'), :hint => conditional_hint('gateway_settings.form.description.hint')
