%table.table.table-striped
  %thead
    %tr
      %th= t('gateway_settings.index.name')
      %th= t('gateway_settings.index.value')
      %th= t('gateway_settings.index.description')

  %tbody
    - for gateway_setting in gateway_settings
      %tr
        %td= t("gateway_settings.settings.#{@gateway.technology}.#{gateway_setting.name}.label")
        %td= gateway_setting.value
        %td
          - if gateway_setting.description.blank?
            = t("gateway_settings.settings.#{@gateway.technology}.#{gateway_setting.name}.hint")
          - else
            = gateway_setting.description
        =render :partial => 'shared/index_view_edit_destroy_part', :locals => {:parent => gateway_setting.gateway, :child => gateway_setting}
