%footer
  %ul{:class => 'nav nav-pills'}
    - if !GsParameter.get('GEMEINSCHAFT_BUILDNAME').nil?
      %li
        %a{:href => '#', :rel => "tooltip", :title => "Build ##{GsParameter.get('GEMEINSCHAFT_BUILDNAME')}", :'data-trigger' => 'hover'}
          = "GS #{GsParameter.get('GEMEINSCHAFT_VERSION')}"
    - else
      %li
        %a{:href => "http://amooma.de/gemeinschaft/gs5"} Gemeinschaft #{GsParameter.get('GEMEINSCHAFT_VERSION')}
    - if GuiFunction.display?('amooma_commercial_support_link_in_footer', current_user)
      %li
        = link_to t('misc.consulting'), "http://amooma.de"
    - if GuiFunction.display?('gemeinschaft_mailinglist_link_in_footer', current_user)
      %li
        = link_to 'GS5 Google Group', "https://groups.google.com/group/gs5-users/"
      %li
        =link_to t('misc.send_a_bugreport'), URI::escape("https://github.com/amooma/GS5/issues/new?title=Bugreport&body=URL which triggered the bugreport is: #{request.fullpath}\nGS5 buildname: #{(GsParameter.get('GEMEINSCHAFT_BUILDNAME').blank? ? 'unknown' : GsParameter.get('GEMEINSCHAFT_BUILDNAME'))}\n\nPlease provide your bugreport below this line and update the title of this issue to a more specific one.")
    %li{:class => 'pull-right'}
      = link_to 'brought to you by AMOOMA GmbH', 'http://amooma.de'